<div class="nav-menu container-fluid sticky-top bg-white">
  <header class="d-flex flex-wrap align-items-center  justify-content-between py-3 mb-4">
    <div class="col-md-3 mb-2 mb-md-0 ">
      <img routerLink="/" src="assets/images/gettagameLogotranscropped.svg" alt="logo"
        style="width: 150px; cursor: pointer;">
    </div>

    <div class="d-flex d-md-none" dropdown>
      <a dropdownToggle>
        <fa-icon [icon]="faBars"></fa-icon>
      </a>
      <ul id="dropdown-basic" *dropdownMenu class="container-fluid dropdown-menu border-0 ">
        <li><a class="dropdown-item " routerLink="/">Home</a></li>
        <li><a class="dropdown-item" routerLink="/deals" routerLinkActive="active-menu-item">Deals</a></li>
      </ul>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 d-none d-md-flex">
      <li><a class="nav-link px-2 link-secondary " routerLink="/">Home</a></li>
      <li><a class="nav-link px-2" routerLink="/deals" routerLinkActive="active-menu-item">Deals</a></li>
    </ul>

    <div class="col-md-3 text-end" *ngIf="!(customerService.currentUser$ | async)">
      <button type="button" class="btn btn-outline-primary me-2" routerLink="/login">Login</button>
      <button type="button" class="btn btn-primary" routerLink="/register">Sign-up</button>
    </div>

    <!-- Logged in Elements -->
    <div class="col-md-3 d-flex justify-content-end align-items-center gap-3"
      *ngIf="customerService.currentUser$ | async">

      <a routerLink="/cart">
        <fa-icon [icon]="faCartShopping"></fa-icon>
      </a>

      <!-- Dropdown Menu -->
      <div class="btn-group" dropdown placement="bottom right">
        <a id="button-animated" dropdownToggle>
          <img src="assets/images/placeholdersquare/image-placeholder-500x500.jpg" alt="">
        </a>

        <div id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-menu-right mt-3">
          <a class="mb-4 dropdown-item" href="">
            <img src="assets/images/placeholdersquare/image-placeholder-500x500.jpg" alt="">
            <span>{{username}}</span>
          </a>

          <ul class="list-unstyled">
            <li>
              <a class="dropdown-item" routerLink="/cart">Current Cart</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" routerLink="/customer/details">Account Information</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" (click)="logout()">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</div>