<div class="container-fluid p-5 bg-dark text-white">
    <div class="row pb-4">
        <img id="logoWhite" src="assets/images/gettagameLogotrans500x500Whitecropped.svg" alt="">
    </div>
    <div class="row g-3 justify-content-center">
        <div class="col-md-4">
            <ul class="list-unstyled">
                <li>
                    <a href="https://www.patrick-kuehlen.de/">Hire Me</a>
                </li>
                <li>
                    <a href="https://www.patrick-kuehlen.de/">Support Me</a>
                </li>
                <li>
                    <a href="https://github.com/McMagnific">Watch Me</a>
                </li>
                <li>
                    <a href="https://www.patrick-kuehlen.de/">About Me</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="list-unstyled">
                <li>
                    <a href="">Terms of Service</a>
                </li>
                <li>
                    <a href="">GDPR Stuff</a>
                </li>

            </ul>
        </div>
        <div class="col-md-4">
            <ul class="list-unstyled">
                <li>
                    <a href="https://www.linkedin.com/in/patrick-k%C3%BChlen-90891818a/">LinkedIn</a>
                </li>
                <li>
                    <a href="https://github.com/McMagnific">Github</a>
                </li>
                <li>
                    <a href="https://www.patrick-kuehlen.de/">Website</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row pt-4">
        <span class="text-center">2023 GettaGame Inc. | All rights reserved</span>
    </div>
</div>