<div class="card border-0 ">
    <img src="assets/images/Salesbannerseptember.webp" class="card-img-top rounded-0" alt="...">
    <div class="card-body d-flex justify-content-between align-items-center ps-5 pe-5 pt-5 ">
        <div>
            <h3 class="card-title"> Summer leaves </h3>
            <p>For some great Deals</p>
        </div>
        <div>
            <button [routerLink]="'/deals'" class="btn btn-primary ">To The Deals</button>
        </div>
    </div>
</div>

<div class="container-fluid p-5">
    <div class="row g-3 justify-content-center ">
        <div class="col-6 col-md-4 col-lg-3  " *ngFor="let game of games">
            <a [routerLink]="'product/details/' + game.id">
                <img [src]="game.image_link"
                    onerror="this.onerror=null; this.src='assets/images/placeholdersquare/image-placeholder-500x500.jpg'"
                    alt="" width="100%">
            </a>
        </div>
    </div>
</div>

<div class="container-fluid p-5">
    <h3 style="font-weight: 300;">Top-10-Games in your country</h3>

    <swiper-container swiperElement init="false">
        <swiper-slide *ngFor="let game of games" class="slide">
            <a [routerLink]="'product/details/' + game.id">
                <img width="100%" [src]="game.image_link"
                    onerror="this.onerror=null; this.src='assets/images/placeholdersquare/image-placeholder-500x500.jpg'"
                    alt="randomized image">
                <span>{{game.title}}</span>
            </a>
        </swiper-slide>
    </swiper-container>
</div>

<div class="container-fluid p-5">
    <h3 style="font-weight: 300;">Brand New Games</h3>

    <swiper-container swiperElement init="false">
        <swiper-slide *ngFor="let game of games" class="slide">
            <a [routerLink]="'product/details/' + game.id">
                <img width="100%" [src]="game.image_link"
                    onerror="this.onerror=null; this.src='assets/images/placeholdersquare/image-placeholder-500x500.jpg'"
                    alt="randomized image">
                <span>{{game.title}}</span>
            </a>
        </swiper-slide>
    </swiper-container>
</div>

<div class="container-fluid p-5">
    <h3 style="font-weight: 300;">Pre-Order Now</h3>

    <swiper-container swiperElement init="false">
        <swiper-slide *ngFor="let game of games" class="slide">
            <a [routerLink]="'product/details/' + game.id">
                <img width="100%" [src]="game.image_link"
                    onerror="this.onerror=null; this.src='assets/images/placeholdersquare/image-placeholder-500x500.jpg'"
                    alt="randomized image">
                <span>{{game.title}}</span>
            </a>
        </swiper-slide>
    </swiper-container>
</div>

<div class="container-fluid p-5">
    <h3 style="font-weight: 300;">Sports Games</h3>

    <swiper-container swiperElement init="false">
        <swiper-slide *ngFor="let game of sportsGames" class="slide">
            <a [routerLink]="'product/details/' + game.id">
                <img width="100%" [src]="game.image_link"
                    onerror="this.onerror=null; this.src='assets/images/placeholdersquare/image-placeholder-500x500.jpg'"
                    alt="randomized image">
                <span>{{game.title}}</span>
            </a>
        </swiper-slide>
    </swiper-container>
</div>