<div class="container-fluid p-5">
    <h3 style="font-weight: 300;">Top-10-Games in your country</h3>

    <swiper-container swiperElement init="false">
        <swiper-slide *ngFor="let game of games" class="slide">
            <a (click)="toDetailsPage(game.id)">
                <img width="100%" [src]="game.image_link"
                    onerror="this.onerror=null; this.src='assets/images/placeholdersquare/image-placeholder-500x500.jpg'"
                    alt="randomized image">
                <span>{{game.title}}</span>
            </a>
        </swiper-slide>
    </swiper-container>
</div>

<div class="container-fluid p-5">
    <h3 style="font-weight: 300;">Brand New Games</h3>

    <swiper-container swiperElement init="false">
        <swiper-slide *ngFor="let game of games" class="slide">
            <a (click)="toDetailsPage(game.id)">
                <img width="100%" [src]="game.image_link"
                    onerror="this.onerror=null; this.src='assets/images/placeholdersquare/image-placeholder-500x500.jpg'"
                    alt="randomized image">
                <span>{{game.title}}</span>
            </a>
        </swiper-slide>
    </swiper-container>
</div>

<div class="container-fluid p-5">
    <h3 style="font-weight: 300;">Pre-Order Now</h3>

    <swiper-container swiperElement init="false">
        <swiper-slide *ngFor="let game of games" class="slide">
            <a (click)="toDetailsPage(game.id)">
                <img width="100%" [src]="game.image_link"
                    onerror="this.onerror=null; this.src='assets/images/placeholdersquare/image-placeholder-500x500.jpg'"
                    alt="randomized image">
                <span>{{game.title}}</span>
            </a>
        </swiper-slide>
    </swiper-container>
</div>

<div class="container-fluid p-5">
    <h3 style="font-weight: 300;">Sports Games</h3>

    <swiper-container swiperElement init="false">
        <swiper-slide *ngFor="let game of sportsGames" class="slide">
            <a (click)="toDetailsPage(game.id)">
                <img width="100%" [src]="game.image_link"
                    onerror="this.onerror=null; this.src='assets/images/placeholdersquare/image-placeholder-500x500.jpg'"
                    alt="randomized image">
                <span>{{game.title}}</span>
            </a>
        </swiper-slide>
    </swiper-container>
</div>



